.weather{
    width: 300px;
    border-radius:6px;
    box-shadow: 10px -2px 20px 2px rgba(0 0 0 /30%);
    color:white;
    background-color: gray;
    margin: 20px auto 0 auto;
    padding: 0 20px 20px 20px;
}
.temperature{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cityName{
    font-weight: 600;
    font-size: 16px;
    font-family: monospace;
    line-height: 1;
    margin-top: 4px;
    letter-spacing: 1px;

}
.weatherCast{
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
    margin-top: 2px;
}
.temperatureValue{
    font-weight:600 ;
    font-size: 70px;
    width:auto;
    letter-spacing: -5px;
    margin: 10px 0;
}
.details{
    width:100%;
    padding-left:20px;

}
.temperatureRow{
    display: flex;
    justify-content: space-between;
}
.tempLabel{
    text-align: left;
    font-weight: 400;
    font-size: 12px;

}
.tempValue{
    text-align:right;
    font-weight: 600;
    font-size: 12px;

}
.title{
    font-size: 23px;
    font-weight:700;

}
.daiyItem{
    background-color: white;
    border-radius: 15px;
    height: 40px;
    margin: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 14px;
    padding: 5px 20px;
    box-shadow: 10px -2px 20px 2px rgba(0 0 0 /30%);


}
.weatherIcon{
    width:40px;

}
.days{
    color:gray;
    flex:1 1;
    font-weight: 600;
    margin-left: 15px;;
}
.dayDescription{
    flex:1 1;
    margin-right: 15px;
    color:gray;
    
}
.daysRangeTemp{
    color:gray;
/*     color:red; */
}
.dailyDetailsGrid{
    grid-row-gap:0;
    grid-column-gap: 15px;
    column-gap: 15px;
    display: grid;
    flex: 1 1;
    grid-template-columns: auto auto;
    padding: 5px 15px;

}
.gridItem{
    display: flex;
    height: 30px;
    justify-content: space-between;
    align-items: center;
}
.gridItem label:first-child{
    color: rgb(179, 178, 178);
    font-family: monospace;

}
.gridItem label:last-child{
    color: rgb(187, 185, 185);
    font-weight: 600;
    font-family: monospace;
}
